<div class="container">
  <div class="row">
    <div class="col-sm-6 col-6">   <!--extra-large는 노트북 large는 아이패드나 12인치 노트북-->
      1/2
    </div>
    <div class="col-sm-6 col-6">
      1/2
    </div>
  </div>
</div>